<article class="node-{{ .Type }} d-flex">
  <div class="flex-shrink-0 me-3 d-none d-md-block">
    <div class="node-cover">
        {{ (partial "module/node/cover/image" (dict "context" . "view" "md")) }}
    </div>
  </div>
  <div class="flex-grow-1">
    <header>
      <div class="node-title">
        <h4 class="h5">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h4>
      </div>
    </header>
    <div class="node-body">
        {{ (partial "module/node/summary" .) }}
    </div>
  </div>
</article>
