{{ $id := (printf "node-tabs-%s-comments" (.File.UniqueID | default "")) }}
{{ $cfg := ($.Site.Data.cfg.node.comments) }}

<div class="d-flex align-items-start">
  <ul id="{{ $id }}" class="flex-column nav nav-pills me-3" data-ext-fn="ext-node-comments-tabs" role="tablist" aria-orientation="vertical">

      {{ if (and ($cfg.github.on) ($.Site.Params.comments.utterances.repo)) }}
        <li class="nav-item" role="presentation">
          <button title='{{ i18n "github" }}' class="nav-link active" id="node-comments-github-tab" data-bs-toggle="pill" data-bs-target="#node-comments-github" type="button" role="tab" aria-controls="node-comments-github" aria-selected="true">
            <i class="fab fa-github fa-fw"></i>
          </button>
        </li>
      {{ end }}

      {{ if (and ($cfg.twitter.on) (.Params.tweets)) }}
        <li class="nav-item" role="presentation">
          <button title='{{ i18n "twitter" }}' class="nav-link" id="node-comments-twitter-tab" data-bs-toggle="pill" data-bs-target="#node-comments-twitter" type="button" role="tab" aria-controls="node-comments-twitter" aria-selected="false">
            <i class="fab fa-twitter fa-fw"></i>
          </button>
        </li>
      {{ end }}

      {{ if (and ($cfg.vk.on) ($.Site.Params.api.vk.app_id)) }}
        <li class="nav-item" role="presentation">
          <button title='{{ i18n "vk" }}' class="nav-link" id="node-comments-vk-tab" data-bs-toggle="pill" data-bs-target="#node-comments-vk" type="button" role="tab" aria-controls="node-comments-vk" aria-selected="false">
            <i class="fab fa-vk fa-fw"></i>
          </button>
        </li>
      {{ end }}

      {{ if ($cfg.facebook.on) }}
        <li class="nav-item" role="presentation">
          <button title='{{ i18n "facebook" }}' class="nav-link" id="node-comments-facebook-tab" data-bs-toggle="pill" data-bs-target="#node-comments-facebook" type="button" role="tab" aria-controls="node-comments-facebook" aria-selected="false">
            <i class="fab fa-facebook fa-fw"></i>
          </button>
        </li>
      {{ end }}

      {{ if (and ($cfg.disqus.on) ($.Site.DisqusShortname)) }}
        <li class="nav-item" role="presentation">
          <button title='{{ i18n "disqus" }}' class="nav-link" id="node-comments-disqus-tab" data-bs-toggle="pill" data-bs-target="#node-comments-disqus" type="button" role="tab" aria-controls="node-comments-disqus" aria-selected="false">
            <i class="fab fa-disqus fa-fw"></i>
          </button>
        </li>
      {{ end }}

  </ul>
  <div class="tab-content flex-grow-1">

      {{ if (and ($cfg.github.on) ($.Site.Params.comments.utterances.repo)) }}
        <div class="tab-pane show active" id="node-comments-github" role="tabpanel" aria-labelledby="node-comments-github-tab">
            {{ (partial "module/node/tabs/comments/github" .) }}
        </div>
      {{ end }}

      {{ if (and ($cfg.twitter.on) (.Params.tweets)) }}
        <div class="tab-pane" id="node-comments-twitter" role="tabpanel" aria-labelledby="node-comments-twitter-tab">
            {{ (partial "module/node/tabs/comments/twitter" .) }}
        </div>
      {{ end }}

      {{ if (and ($cfg.vk.on) ($.Site.Params.api.vk.app_id)) }}
        <div class="tab-pane" id="node-comments-vk" role="tabpanel" aria-labelledby="node-comments-vk-tab">
            {{ (partial "module/node/tabs/comments/vk" .) }}
        </div>
      {{ end }}

      {{ if ($cfg.facebook.on) }}
        <div class="tab-pane" id="node-comments-facebook" role="tabpanel" aria-labelledby="node-comments-facebook-tab">
            {{ (partial "module/node/tabs/comments/facebook" .) }}
        </div>
      {{ end }}

      {{ if (and ($cfg.disqus.on) ($.Site.DisqusShortname)) }}
        <div class="tab-pane" id="node-comments-disqus" role="tabpanel" aria-labelledby="node-comments-disqus-tab">
            {{ (partial "module/node/tabs/comments/disqus" .) }}
        </div>
      {{ end }}

  </div>
</div>
