{{ $cfg := ($.Site.Data.cfg) }}

{{ $posts := (where $.Site.RegularPages "Type" "in" $.Site.Params.sections.blog) }}
{{ $count := ($cfg.index.posts.count | default "9") }}
{{ $view := ($cfg.index.posts.view | default "0") }}
{{ $sidebar_on := ($cfg.sidebar.on | default 0) }}
{{ $exclude_categories := ($cfg.index.categories.exclude) }}

{{ with ($exclude_categories) }}
    {{ $exclude := (where $posts ".Params.categories" "intersect" .) }}
    {{ $posts = ($posts | complement $exclude) }}
{{ end }}

{{ $posts = ($posts | first $count) }}

{{ $container_open := ("<div class='container'>" | safeHTML) }}
{{ $container_close := ("</div>" | safeHTML) }}

{{ if (and ($sidebar_on) (.IsHome)) }}
    {{ $container_open = "" }}
    {{ $container_close = "" }}
{{ end }}

{{ with ($posts) }}

  <div class="section py-3">
      {{ $container_open }}
    <h2>
      <a href='{{ ("posts/" | relLangURL) }}'>{{ i18n "posts" }}</a>
    </h2>
    <!--[ view: 0 ]-->
      {{ if (eq $view "0") }}
        <div class="row row-cols-1 g-3">
          <div class="col">
              {{ range (first 1 .) }}
                  {{ (partial "view/node.image.lg" .) }}
              {{ end }}
          </div>
          <div class="col">
            <div class="row row-cols-1 row-cols-lg-2 g-3">
                {{ range (after 1 .) }}
                  <div class="col">
                      {{ (partial "view/node.image.lg" .) }}
                  </div>
                {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    <!--[ / view: 0 ]-->

    <!--[ view: 1 ]-->
      {{ if (eq $view "1") }}
        <div class="row row-cols-1 row-cols-lg-2 g-3">
            {{ range . }}
              <div class="col">
                  {{ (partial "view/node.image.lg" .) }}
              </div>
            {{ end }}
        </div>
      {{ end }}
    <!--[ / view: 1 ]-->

    <!--[ view: 2 ]-->
      {{ if (eq $view "2") }}
        <div class="row row-cols-1 row-cols-lg-2 g-3">
            {{ range . }}
              <div class="col">
                  {{ (partial "view/node.image.md" .) }}
              </div>
            {{ end }}
        </div>
      {{ end }}
    <!--[ / view: 2 ]-->

      {{ $container_close }}
  </div>

{{ end }}
