{{ define "main" }}

  <div class="section py-3">
    <div class="container">

        {{ (partial "breadcrumb" .) }}

      <article>
        <header>
          <div class="node-cover mb-3">
              {{ (partial "module/node/cover/image" (dict "context" . "view" "lg")) }}
          </div>
          <div class="node-title">
            <h1 class="h2 text-center">{{ .Title }}</h1>
          </div>
        </header>
        <footer>{{ (partial "module/node/authors" .) }}</footer>
          {{ (partial "module/node/tabs/_tabs" .) }}
      </article>
    </div>
  </div>

{{ end }}
