{{ $url := (urls.Parse $.Site.BaseURL) }}

{{ $urlYa := "" }}
{{ $iconYa := "" }}

{{ if (eq $.Language.Lang "ru") }}
    {{ $urlYa = "https://yandex.ru" }}
    {{ $iconYa = "yandex" }}
{{ else }}
    {{ $urlYa = "https://yandex.com" }}
    {{ $iconYa = "yandex-international" }}
{{ end }}

<form action="{{ $urlYa }}/yandsearch" method="get" class="d-flex" target="_blank">
  <input type="hidden" name="site" value="{{ $url.Host }}"/>
  <div class="input-group">
    <span class="input-group-text"><i class="fas fa-search fa-fw"></i></span>
    <input type="search" class="form-control" name="text" placeholder='{{ i18n "search_yandex" }}' aria-label='{{ i18n "search_yandex" }}'/>
    <span class="input-group-text"><i class="fab fa-{{ $iconYa }} fa-fw"></i></span>
  </div>
</form>
