{{ $categories := 0 }}
{{ if (isset .Params "categories") }}
    {{ if (not (eq (index (.Param "categories") 0) "")) }}
        {{ $categories = 1 }}
    {{ end }}
{{ end }}

<div class="node-categories">
  <section>
    <h4>{{ i18n "categories" }}</h4>
    <div class="node-body">
        {{ if ($categories) }}
          <ul class="list-inline">
              {{ range (.GetTerms "categories") }}
                <li class="list-inline-item">
                  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                </li>
              {{ end }}
          </ul>
        {{ else }}
            {{ (partial "function/alert" (dict
            "type" "warning"
            "icon" "fas fa-folder-open"
            "msg" "alert.categories_not_found"
            )) }}
        {{ end }}
    </div>
  </section>
</div>
