{{ $x := (.context | default .) }}
{{ $id := (.id | default "") }}
{{ $src := (.src | default "") }}
{{ $title := (.title | default $src) }}
{{ $alt := (.alt | default $src) }}
{{ $caption := (.caption) | default "" }}

<div class="modal fade ext-modal-image" id="modal-{{ $id }}" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title text-truncate">
          <a href="{{ $src }}" rel="noopener nofollow" target="_blank">{{ $title }}</a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label='{{ i18n "close" }}'></button>
      </div>
      <div class="modal-body">
        <picture>
          <img class="w-100 h-100" src="{{ $src }}" alt="{{ $alt }}" loading="lazy"/>
        </picture>
      </div>
        {{ with ($caption) }}
          <div class="modal-footer">
            <p>{{ . }}</p>
          </div>
        {{ end }}
    </div>
  </div>
</div>
